#########################
### OS Specific Files ###
#########################

# Mac filesystem metadata
.DS_Store


########################
### IDE/Editor Files ###
########################

# Eclise
/.classpath
/.project
/.settings

# Netbeans
/nbproject

# IntelliJ
*.iml
*.ipr
*.iws
.idea/

# Vim
.*.sw[a-p]


#####################
### Build Process ###
#####################

# Maven
/build.xml
/target
